<h2>Menu:  <%=@menu.menu_name()%></h2>
<p>Comment:  <%=@menu.comment()%></p>
<p>Source: <%= @menu.quote_source() %></p>
<div>

  <form action='/menu_view/<%=@menu.id%>' method='get'>
    <button type='submit' class="btn btn-default">View Menu</button>
  </form>

<h3>Add a Recipe</h3>

  <form action='/recipe_add_menu' method='post'>
    <input type='hidden' name='menu_id'  value=<%= @menu.id %>
    <div class='form-group'>
      <label for='recipe_name'>Recipe Name:</label>
      <input id='recipe_name' name='recipe_name' type='text'>
    </div>
    <div class='form-group'>
      <label for='source'>Recipe Source:</label>
      <input id='source' name='source' type='text'>
    </div>
    <div class='form-group'>
      <label for='servings'>Number of Servings</label>
      <input id='servings' name='servings' type='text'>
    </div>
    <div class='form-group'>
      <label for='comment'>Comment:</label>
      <input id='comment' name='comment' type='text'>
    </div>
    <button type='submit' class='btn btn-default'>Add Recipe</button>
  </form>




<h3> <%=@menu.menu_name()%> Recipes</h3>

  <% @recipes.each() do |recipe| %>
    <ul>
      <li><a href='/recipe/<%=recipe.id()%>'> <%=recipe.recipe_name()%></a></li>
    </ul>
  <%end%>
</div>
