<div class="container-fluid">
  <div class="row-fluid">




      <!-- recipe content -->
      <div class="span10">
        <h3 class='indent'><%= @recipe.recipe_name %></h3>
        <div class='recipe_img'>
          <% if @images.any?() %>
            <% @images.each() do |image| %>
              <img src='<%=image.url%>' width='<%=image.width%>'>
            <%end%>
          <%end%>
        </div>
      <br />
        Servings:&nbsp;&nbsp;&nbsp;<%= @recipe.servings %><br />
        Source:&nbsp;&nbsp;&nbsp;<%= @recipe.source %><br /><br />
        <p class="recipe-comment"><%= @recipe.comment %></p>

          <div id="recipe-container">
            <h3>Ingredients</h3>
            <% @ingredients.each() do |ingredient| %>
              <ul>
                <li><%= ingredient.ingredient_name %></li>
              </ul>
            <%end%>
            <h3>Instructions</h3>
            <ol>
              <% @instructions.each() do |instruction| %>
                <li><%= instruction.instruction_name %><br /></br /></li>

              <%end%>
            </ol>

          </div> <!--recipe-container-->
        </div> <!--span10-->
   </div> <!--row-fluid-->
